.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: #414141;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: #2e2e2e;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.badge {
  background-color: #383838;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
  background-color: #636262;
}
